
body {
   
    width: 100%;
}
.nav-wrap, .nav-right, .header-2 {
    padding: 12px;
    display: flex;
} 
.box1 {
    background-color: #1F2937;
height: 450px;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    text-decoration: none;
font-size: 24px;
color: #f9faf8;

}
ul {
    list-style-type: none;
    text-wrap: nowrap;
   
}
.nav-wrap, a  {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}
.nav-right {
    margin-left: 240px;
    gap: 15px;
}
.nav-wrap {
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
.header-2 {
    display: flex;
    flex-direction: column;
}
.wrdbtn {
display: inline-block;
width: 400px;
margin-left: 50px;
}
.wrdbtn h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;

}
.wrdbtn p {
    font-size: 18px;
    color: #f9faf8;
}
btn {
    background-color: #3882f6;
    padding: 6px 20px;
    font-size: 16px;
border-radius: 6px;
}
.introimg {
float: right;
width: 400px;
height: 190px;
margin-left: 500px;
margin-top: -220px;
background-color: gray;
text-align: center;
vertical-align: middle;
line-height: 160px;
color: #f9faf8;
}

.randominfo {
    display: flex;
    flex-direction: column;
    height: 400px;
}
.randominfo h1 {
    display: flex;
    justify-content: center;
}
.photos {
    display: flex;
    height: 200px;
    flex-direction: row;
    gap: 20px;
    justify-content: center;

}
.box {
    border: 2px solid #3882f6;
    border-radius: 7px;
    width: 200px;
}

.box img {
    width: 100%;
    height: 100%;
}
.box p {
    text-wrap: balance;
}

.quotesSection {
display: flex;
flex-direction: column;
background-color: #e5e7eb;
justify-content: center;
}
.quotesSection p {
    font-size: 30px;
    font: italic;
    text-wrap: balance;
    text-align: center;
}
.quotesSection h3 {
    font-size: 35px;
    text-align: right;
}
.footer {
 height: 200px;
}
.footertext {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #3882f6;
    border-radius: 6px;
    height: 120px;
    width: 950px;
    margin: 100px;
    color: #f9faf8;
    
}
.footer button {
background-color: #3882f6;
border: 1px solid #f9faf8;
    padding: 6px 30px;
    font-size: 14px;
border-radius: 8px;
margin-left: 80px;
margin-top: 50px;
color: #f9faf8;
}
.footer p {
    padding-: 2px;
}